.auth-main,body,html {
	height: 100%
}

.auth-main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%
}

.auth-block {
	width: 540px;
	margin: 0 auto;
	border-radius: 5px;
	background: rgba(0,0,0,.55);
	color: #fff;
	padding: 32px
}

.auth-block h1 {
	font-weight: 300;
	margin-bottom: 28px;
	text-align: center
}

.auth-block a {
	text-decoration: none;
	outline: 0;
	transition: all .2s ease;
	color: #209e91
}

.auth-block a:hover {
	color: #1b867b
}

.auth-block .control-label {
	padding-top: 11px;
	color: #fff
}

.auth-block .form-group {
	margin-bottom: 12px
}

.auth-block p,.auth-link,.auth-sep {
	font-size: 16px
}

body::before {
	content: '';
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(../images/blue-bg.png) center center no-repeat;
	background-size: cover;
	will-change: transform;
	z-index: -1
}

a.forgot-pass {
	display: block;
	text-align: right;
	margin-bottom: -20px;
	float: right;
	z-index: 2;
	position: relative
}