<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wyj.dao.system.AuthMapper">
	<select id="getObjectById" parameterType="java.lang.Long"
		resultMap="authList">
		SELECT * FROM s_auth_authority t1,s_auth_menu t2 WHERE t1.menuId = t2.menuId AND
		t1.authId=#{value}
	</select>
	<insert id="save" parameterType="com.wyj.entity.system.Auth">
		INSERT INTO
		s_auth_authority(authName,authSign,menuId,orderNum,createTime,createUserId)
		VALUES
		(#{authName},#{authSign},#{menu.menuId},#{orderNum},#{createTime,jdbcType=DATE},#{createUserId})
	</insert>
	<delete id="remove" parameterType="java.lang.Long">
		DELETE FROM
		s_auth_authority WHERE
		authId=#{value}
	</delete>

	<delete id="batchRemove">
		DELETE FROM
		s_auth_authority 
		WHERE authId IN
		<foreach collection="array" open="(" separator="," close=")" item="authId">
			#{authId}
		</foreach>
	</delete>

	<update id="update" parameterType="com.wyj.entity.system.Auth">
		UPDATE s_auth_authority
		SET
		authName=#{authName},modifyTime=#{modifyTime,jdbcType=DATE},modifyUserId=#{modifyUserId}
		WHERE authId = #{authId}
	</update>

	<select id="list" parameterType="com.wyj.entity.system.Auth" resultMap="authList">
		SELECT * FROM s_auth_authority
		<where>
			<if test="menu != null and menu.menuId != null">
				menuId = #{menu.menuId}
			</if>
		</where>
	</select>

	<resultMap type="com.wyj.entity.system.Auth" id="authList">
		<id property="authId" column="authId" />
		<result property="authName" column="authName" />
		<result property="authSign" column="authSign" />
		<result property="orderNum" column="orderNum" />
		<result property="createTime" jdbcType="DATE" javaType="java.util.Date" column="createTime" />
		<result property="createUserId" column="createUserId" />
		<result property="modifyTime" jdbcType="DATE" javaType="java.util.Date" column="modifyTime" />
		<result property="modifyUserId" column="modifyUserId" />
<!-- 		<collection property="roles" ofType="com.wyj.entity.system.Role" resultMap="com.wyj.dao.system.RoleMapper.roleMap"></collection> -->
		<association property="menu" column="menuId" resultMap="com.wyj.dao.system.MenuMapper.menuList"></association>
	</resultMap>

<!-- 	<resultMap type="com.wyj.entity.auth.Role" id="authRoleMap" extends="authMap"> -->
<!-- 		<collection property="roles" ofType="com.wyj.entity.auth.Role" -->
<!-- 			resultMap="com.wyj.dao.auth.RoleDao.roleMap"></collection> -->
<!-- 	</resultMap> -->
</mapper>